.center-div95 {
    margin: 0 auto 5rem auto;
    width: 95%;
}

.display-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-space-1 {
    padding: 1rem;
}

.width-20 {
    width: 20%;
}

.text-userName {
    color: #fff;
    font-weight: 500;
}