.center-div95 {
    margin: 0 auto 5rem auto;
    width: 95%;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .display-container {
        flex-direction: row;
    }
}

.inner-space-1 {
    padding: 1rem;
}

/* .width-20 {
    width: 25%;
} */

.text-userName {
    color: #fff;
    font-weight: 500;
}