.title-center {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    margin: 0 auto;
    padding: 4rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* Inputs */
input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: #007baf;
    box-shadow: 0 0 0 1px #007baf;
}

.link {
    text-decoration: none;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.mt1 {
    margin-top: 1rem;
}

/* Inputs error */
.input-error {
    border: 1px solid red;
}

.error-message {
    font-size: 0.85rem;
    color: red;
    margin-top: -0.5rem;
}