html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-container {
    background-color: #f5f5f5;
    min-height: 100vh;
    /* covers whole screen */
}

.link-button {
    background-color: #007298;
    color: #FFF;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

.gradient-tata {
    background: linear-gradient(90deg, #E49D39 0%, #CC3A4A 50%, #8A3D7F 100%);
}

.bg-blue {
    background-color: rgb(55, 117, 188);
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.padding-xs {
    padding: .2rem 1rem;
}

.padding-sm {
    padding: .5rem 3rem;
}

.padding-md {
    padding: 1rem 2rem;
}

.padding-lg {
    padding: 1rem 5rem;
}

.mr-2 {
    margin-right: 0;
}

@media (min-width: 768px) {
    .mr-2 {
        margin-right: 2rem;
    }   
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt1 {
    margin-top: 1rem;
}

.title-center {
    text-align: center;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

/* responsive box registration and login */
.container-form {
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) {
    .container-form {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container-form {
        width: 60%;
    }
}

/*registration and sign in*/
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: inherit;
    margin: inherit;
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* Inputs */
input.input-form {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: #007baf;
    box-shadow: 0 0 0 1px #007baf;
}

/* error message input */
.error-message {
    font-size: 0.85rem;
    color: red;
    margin-top: -0.5rem;
}

.link {
    text-decoration: none;
    font-weight: 700;
}